<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body>
{% block css %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}
{% block content %}
    <div class="login">
        <form action='{% url 'whokillsit:login' %}' method="post">
            {% csrf_token %}
            <h2>Login</h2>
            <input type="text" placeholder="Please input your username" name="un">
            <br>
            <input type="password" placeholder="Please input your password" name="pwd">
            <br>
            <div id="create"><a id="link" href="{% url 'whokillsit:register' %}">Create account</a></div>
            <br>
            <button type="submit">login</button>
        </form>
    </div>
    <script type="text/javascript">
        {{ alert }} ('{{ wrong }}')
    </script>
{% endblock %}
</body>
</html>